<!doctype html>
<html lang="en" ng-app="GitUserSearch">
  <head>
    <meta charset="utf-8">
    <title>Github user search</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="public/stylesheet.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/gitUserSearchController.js"></script>
    <script src="js/searchFactory.js"></script>
    <script src="js/searchFactoryCopy.js"></script>

  </head>

  <body ng-controller="GitUserSearchController as searchCtrl">
    <div id="header">
      <div id="title">GitHub: The Gathering</div>
    </div>
    <form id="formContainer">
      <input class="searchField" placeholder="  Enter Name" type="text" ng-model="searchCtrl.searchTerm" ng-change="searchCtrl.doSearch()" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }">
      <button class="btn" ng-click="searchCtrl.doSearch()">Search</button>
    </form>
    <ul class="list-group" ng-repeat="user in searchCtrl.searchResult.items">
      <li>
        <img id="avatar" ng-src="{{user.avatar_url}}">
        <a id="name" ng-href="{{user.html_url}}">{{user.login}}</a>
        <div id="score">Coolness Score {{user.score}}</div>
        <div id="followers">Cool Followers {{searchCtrl.userUrl.followers}}</div>
        <div id="following">Following {{searchCtrl.userUrl.following}}</div>
      </li>
    </ul>
  </body>
</html>
