body {
  background-color: red;
  height: 100%;
  width: 100%;
}

#header {
  background-color: green;
  position: fixed;
  width: 100%;
}

#title {
  color: yellow;
  text-align: center;
  margin: 20px;
  font-size: 24px;
}

#formContainer {
  display: table;
  margin: auto;
  padding: 95px 0;
}

.searchField {
  border-radius: 5px 0 0 5px;
  border: 0;
}

.btn {
  color: blue;
  padding: 1px 12px;
  vertical-align: top;
  border-radius: 0 5px 5px 0;
  border: 0;
}

.container {
  display: flex;
  flex-flow: row-wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.list-group {
  list-style: none;
  background-color: yellow;
  width: 15em;
  height: 20em;
  margin: 30px auto;
  border-radius: 5px;
}

#avatar {
  max-width: 20%;
  margin: 15px;
}

#name {

}

#following {

}

#followers {

}
